html body {
    background-color: #381d16;!important;
}

.form-control {
    color: black !important;
}

.navbar-nav .nav-link {
    color: black !important;
}

.btn {
    color: black !important;
}

.card-text{
    font-size: 2rem;
    color: ghostwhite !important;
}

.card-title{
    font-family: 'Dancing Script', cursive;
    color: ghostwhite !important;
}

.card {
    transition: transform .2s;
    margin: 0 auto;
    background-color: black !important;
}

.card:hover {
    transform: scale(1.02);
    background-color: black !important;
}

.header-title {
    margin: auto;
    padding-top: 70px;
    font-size: 10vw; !important;
}

.header-paragraph{
margin-top: 10%;
    font-size: 1.4vw;
    margin-left: 60%;
}

.header-para{
margin-top: 5%;
    font-size: 2vw;
}

