html body {
    background-color: #381d16;
!important;

}

/*changed the text from white to black for visibility*/
.form-control {
    color: black !important;
}

.navbar-nav .nav-link {
    color: black !important;
}

.btn {
    color: black !important;
}

.container {
    position: relative;
    z-index: 2;
}

.card{
    width: 20rem;
}

.card-title{
    font-family: "Dancing Script", cursive;
    color: ghostwhite !important;
}
.card-text{
    color: ghostwhite !important;
    font-family: 'Patrick Hand', sans-serif;
    font-size: 2rem
}

/*limits the image height and covers the selected area*/
/*.card-img-top {*/
/*    width: 100%;*/
/*    max-height: 140px;*/
/*    object-fit: cover;*/
/*}*/

/*transition card and center it*/
.card {
    transition: transform .2s;
    margin: 0 auto;
    background-color: black !important;
}

.card:hover {
    transform: scale(1.02);
    background-color: black !important;
}

.header-title {
    margin: auto;
    padding-top: 70px;
}

.form-spacing {
    position: absolute;
    width: 200px;

}
.header-paragraph{
margin-top: 15%;
    font-size: 1.5vw;
    margin-left: 60%

}